.searchbox {
  display: flex;
  justify-content: center;
}

input {
  padding: 1rem;
  width: 500px;
  min-width: 200px; /* Set a minimum width for the input box */
  border-radius: 5px;
  border: 1px solid grey;
}

input::placeholder {
  color: gray;
  text-align: start;
}

.filter-container {
  padding: 1rem;
  width: 500px;
  display: flex;
  flex-direction: column;
  max-height: 30rem;
  overflow-y: scroll;
  border: 1px solid grey;
  border-radius: 5px;
}

.filter-card {
  border: 1px solid;
  margin: 10px;
  text-align: center;
}
.selected {
  background-color: pink;
}
.bold {
  font-style: italic;
  font-weight: bold;
}
.highlight {
  color: blue;
}
